
.zabuto_calendar {
    width: 70%;
    min-width: 180px;
    max-width: 70%;
    height: auto;
    margin-top: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px $sFontColor;

    .badge {
        font-size: 100%;
    }
    .badge-event {
        color: $sRed;
    }
    table {
        width: 100%;
        border: none;
        border-collapse: collapse;

        tr {
            border: none;

            td, th {
                background-color: transparent;
                color: $sFontColor;
                font-weight: 400;
                font-size: 100%;
                border: none;
            }
        }

        .calendar-month-header {
            padding: 0;
            margin: 0;
            td {
                border: none;
                padding-top: 10px;
                margin: 0;
                span {
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                }
                .calendar-month-navigation {
                    padding: 0;
                    margin: 0;
                    ion-icon {
                        font-size: 150%;
                    }
                }
            }
        }
        .calendar-dow-header {
            th {
                background-color: #000;
                color: #fff;
            }
        }
    }
}
