.container {
    //position: fixed;
    height: auto;
    min-height: 100%;
    background-color: $body-bg;
    /*
        background-image: url("/img/house.jpg");
        background-position: right 60px;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;

        @include media("<tablet") {
            background-position-y: 55px;
        }
    */
    .card {
        margin-top: 20px;
        background-color: transparent;
        border-radius: 20px;

        .card-header {
            //            background-color: #000;
            background: linear-gradient( #000, $body-bg );
            color: #fff;
            font-weight: bold;
        }
        .card-body {
            color: $sFontColor;
            form {
                a.btn-link {
                    color: $sRed;
                }
            }
        }
    }
    .content {
        color: $sFontColor;
        display: flex;
        height: auto;
        margin-top: 60px;
        min-height: 100vh;
        padding: 10px 0 20px 0;

        .page {
            h3 {
                color: inherit;
            }
            .page-body {
                color: inherit !important;
                font-family: $font-family-sans-serif !important;
                *:not(a) {
                    color: inherit !important;
                    font-family: $font-family-sans-serif !important;
                }
                a {
                    color: $sYellow;
                }
            }
        }
        .static-page {
            #map {
                height: 60%;
                border: 1px solid #7adddd;
            }
        }
        .eventContainer {
            .event {
                float: left;
                clear: none;
                height: auto;
                padding: 0;
                margin: 0;

                .eventContent {
                    float: left;
                    clear: both;
                    height: auto;
                    min-height: 60px;
                    padding: 0;
                    border: 1.5px solid $sFontColor;
                    border-radius: 10px;
                    border-bottom-left-radius: 0;
                    overflow: hidden;

                    .collapseToggle {
                        color: #fff;
                        .eventHeader {
                            float: left;
                            clear: none;
                            height: 60px;
//                            max-height: 80px;
                            padding: 0;
                            margin: 0;
                            background: linear-gradient( $sYellowDark, $body-bg);

                            .subHeader {
                                color: $sFontColor;
                                font-weight: bold;
                                @include media("<tablet") {
                                    font-size: 80%;
                                }

                                .category {
                                    display: inline-block;
                                    float: right;
                                    clear: none;
                                    color: #ff0000;
                                    font-weight: bold;
                                    letter-spacing: 0.3rem;
                                    text-transform: uppercase;
                                }
                            }
                            .theme {
                                h7 {
                                    color: $sRed;
                                }
                            }
                            .title {
                                div {
                                    margin: 0;
                                    padding: 5px 5px 0 10px;
                                    color: $sFontColor;
                                    @include media("<tablet") {
                                        font-size: 80%;
                                    }
                                }

                                div.subtitle {
                                    font-size: 90%;
                                    color: $sFontColor;
                                    @include media("<tablet") {
                                        font-size: 70%;
                                    }
                                }
                            }
                            button.btn {
                                position: absolute;
                                display: block;
                                right: 0;
                                bottom: 0;
                                height: 1.5rem;
                                margin: 0;
                                color: #fff;
                                background-color: #b00;
                                padding: 0 10px 0 10px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 0;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0px;
                                border: 1px solid #b00;
                                border-right: none;
                                //border-bottom: none;
                                font-weight: bold;
                            }
                            button.btn:hover {
                                background-color: #a00;
                            }
                        }
                    }

                    .loaderWrapper {
                        height: 100%;
                        width: 100%;
                        vertical-align: middle;
                        img.loader {
                            width: 80px;
                            height: 80px;
                            margin: auto;
                            margin-top: 10px;
                        }
                    }
                    .eventBody {
                        width: 100%;
                        height: auto;
                        //max-height: 500px;
                        float: left;
                        clear: left;
                        padding: 0;
                        margin: 10px 0 0 0;
                        overflow: hidden;
                        //border-top: 1px solid #a00;

                        .imageWrapper {
                            background-color: #000;
                            img {
                                height: 300px;
                                @include media("<tablet") {
                                    height: auto;
                                    max-width: 100%;
                                }
                            }
                        }
                        .carousel {
                            width: 100%;
                            height: auto;
                            padding: 0;
                            margin: 0;
                            background-color: #000;
                            overflow: hidden;
                            @include media(">=tablet") {
                                height: 300px;
                            }
                            @include media("<tablet") {
                                height: 200px;
                            }
                            .carousel-inner {
                                white-space: nowrap;
                                overflow: hidden;

                                .carousel-item {
                                    clear: none;
                                    img {
                                        clear: none;
                                        //max-width: 533px;
                                        height: auto;
                                        z-index: 10000;
                                        @include media(">=tablet") {
                                            height: 300px;
                                        }
                                        @include media("<tablet") {
                                            height: 200px;
                                            width: auto;
                                            max-width: 100%;
                                        }
                                    }
                                    .carousel-caption {
                                        color:#ffe924;
                                        text-shadow: 0 0 3px #f00, 0 0 5px #00f;
                                    }
                                }
                            }
                        }
                        div.subtitle {
                            color: $sFontColor;
                        }
                        .text {
                            color: $sFontColor;
                            @include media("<tablet") {
                                font-size: 80%;
                            }
                            img {
                                width: auto;
                                height: auto;
                                max-width: 100%;
                            }
                        }
                        .links {
                            @include media("<tablet") {
                                font-size: 80%;
                            }
                        }
                    }
                }
            }
        }

        form {
            .g-recaptcha {
                float: right;
                clear: none;
                _margin-top: -10px;
            }
            .captcha-error {
                font-size: 1.5rem;
            }
        }
        @import "sidebar-right";
    }
}
