html, body {
    height: 100vh;
    font-family: $font-family-sans-serif;
    font-weight: 200;
    margin: 0;
    background-color: $body-bg;
}

.background_right {
    position: fixed;
    clear: both;
    top: 70px;
    right: 20px;
    width: auto;
    height: auto;
    max-height: 80%;
    opacity: 0.6;
    z-index: 10;
    img {
        display: flex;
    }
    @include media("<tablet") {
        display: none;
    }
}
.img-responsive {
    display: inline-block;
}
a {
    color: $sRed;
}
a:hover {
    color: #f00;
}
img {
    @extend .img-fluid;
}
.embed-responsive-wrapper {
    margin: 0 -10px 0 -10px;
    padding: 0;
}
pre {
    color: $sFontColor;
}
.cRed {
    color: $sRed;
}