nav.navbar {
    &.bg-black {
        background-color: #000 !important;
    }
    &.navbar-dark {
        .nav-item {
            .nav-link {
                line-height: 1.5rem;
                vertical-align: middle;
                color: #ffffff;
                ion-icon {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .dropdown-menu {
        &.show {
            box-shadow: 5px 5px 10px #000;
            background-color: #000;
            z-index: 10000;
            .dropdown-item {
                color: #ffffff;
            }
            .dropdown-item:hover {
                background-color: #900;
            }
            @include media("<tablet") {
                box-shadow: none;
                //background-color: $sRed;
                .dropdown-item {
                    color: #ffffff;
                }
                .dropdown-item:hover {
                    background-color: #090;
                }
            }
        }
    }
    .navbar-brand {
        &.title-logo {
            font-size: 1.5rem;
            font-weight: bold;
        }
        /*
                img {
                    width: auto;
                    height: auto;
                    @include media("<=tablet") {
                        max-height: 18px;
                    }

                }
                img:last-child {
                    margin-left: 10px;
                }
        */
    }
    .nav-link {
        img {
            clear: none;
            width: auto;
            height: 20px;
        }
    }
}
