
.sidebar-right {
    position: fixed;
    right: 100px;

    @include media("<desktop") {
        display: none;
    }
    .info {
        width: 70%;
        min-width: 180px;
        max-width: 70%;
        text-align: center;
        font-size: 90%;
        line-height: 1.0rem;
        img {
            align-self: center;
        }
    }
    .header-calendar {
        width: 70%;
        min-width: 180px;
        max-width: 70%;
        text-align: center;
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.2rem;
            font-weight: bold;
            color: $sFontColor;
        }
        ion-icon {
            display: inline-block;
            font-size: 1.2rem;
            color: $sFontColor;
            vertical-align: middle;
            margin: -3px 5px 0 0;
        }
    }

    @import 'calendar';

}
